/* header  */
header li{
    color: #9c9c9c;
    font-weight: 600;
    
}
header .active a{
    color: #36c5f4 !important;
}
header .active{
    color: #36c5f4;    
}
header .btn{
    color: white;
    background-color: #36c5f4;    
}
/* end of header  */

/* search tab  */
.search-tab {
    height: 400px;
    background-image: url(bg-banner-home.png);
    background-size: 100% 100%;
}
.search-input {
    height: 300px;
    width: 100%;
    padding: 10px;
    background-color: #1b7dd8;
    margin: 40px 0;
    border-radius: 5px;
    float: left;
}
.search-input p{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    color: white;
}


.search-input > .form > input{
    margin: 15px auto;
}
.search-input .btn {
    height: 53px;
    width: 100%;
    font-size: 18px;
    background: #ed4079;
    text-shadow: 0 2px 4px rgba(0,0,0,.5);
    color: white;
    font-weight: 600;
    margin-top: 10px;
}
.search-promo {
    height: 300px;
    width: 99%;
    background-color: #1b7dd8;
    margin: 40px 0;
    border-radius: 5px;
    float: right;
    overflow: hidden;
}
.search-promo img {
    width:100%;
    height:100%;
}
/* menu  */
.menu-title h2{
    font-size: 25px;
}
.menu-location {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 200px;
    margin-top: 20px;
}
.menu-location img{
    width: 100%;
    height: 100%;
}
.menu-location h3{
    font-size: 16px;
    margin: 0;
    color: #fff;
    left: 0;
    bottom: 0;
    position: absolute;
    padding: 7px;
    width: 100%;
    font-weight: 700;
    text-align: center;
    background: rgba(0,174,239,.7);
    border-top: 1px solid rgba(111,204,237,.7);
}
/* promo  */
.promo {
    margin-top: 40px;
    height: 400px;
}
.promo-left {
    overflow: hidden;
    border-radius: 5px;
}
.promo-left img{
    width: 100%;
    height: 100%;
}
.promo-right {
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.promo-right .imglogo{
    position: absolute;
    left: 20px;
    top: 20px;
    border: 0;
    vertical-align: middle;
}
.promo-right .img-responsive{
    display: block;
    height: auto;
    max-width: 100%;
}
.promo-right .nav{
    position: absolute;
    left: 48px;
    top: 110px;
}
.promo-right .nav > .li{
    display: block;
    position: relative;
}
.promo-right .nav ul{
    list-style-image: url('../img/open-iconic-master/webp/check-2x.webp');
}
/* footer  */
footer{
    margin-top: 40px;
    background-color: #fafafa;
    padding: 20px 0;
}
footer .logo{
    margin-bottom: 20px;
}
footer .mobile-app{
    list-style: none;
}
footer .contact{
    padding-right: 20px;
}
footer .rule{
    padding-right: 20px;
}
footer h5{
    font-size: 20px;
}
footer .rule h5{
    font-size: 15px;
}